@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@{
	ViewData["Title"] = _localizer["Access Denied"];
}

<h5>@_localizer["You do not have access to this resource."]</h5>
<p>@_localizer["Check you are using correct username and password."]</p>
