@model GoldenTicket.ViewModels.Account.ForgotPasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@{
	ViewData["Title"] = _localizer["Forgot your password?"];
}

<div class="row">
	<div class="col">
		<form method="post">
			<div asp-validation-summary="All" class="materialize-red-text"></div>
			<div>
				<label asp-for="Email">@_localizer["Email"]</label>
				<input asp-for="Email">
				<span asp-validation-for="Email" class="materialize-red-text"></span>
			</div>
			<button class="btn" type="submit">@_localizer["Enter email"]</button>
		</form>
	</div>
</div>