@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = _localizer["Reset Password Confirmation"];
}

<h4>
    <a asp-action="Login">@_localizer["Your password is reset. Please click here to login"]</a>
</h4>