@{
    ViewData["Title"] = "Add a Ticket";
}
@using GoldenTicket.Models
@model Ticket

	<form method="post">
		<input asp-for="ClientId" type="hidden">

		<label>Држава путовања</label>
		<input asp-for="Country">

		<label>Адреса путовања</label>
		<input asp-for="Destination">

		<label>Установа путовања</label>
		<input asp-for="Institution">

		<label>Лице за контакт у установи путовања (телефон, е-маил)</label>
		<input asp-for="ContactPersonOnSite" multiline>

		<label>Разлог путовања</label>
		<input asp-for="Reason">

		<label>Датум и време одласка</label>
		<input asp-for="StartDate">

		<label>Датум и време повратка</label>
		<input asp-for="EndDate">

		<label>Врста јавног превоза</label>
		<input asp-for="Transportation">

		<label>Извор и лице које располаже средствима</label>
		<input asp-for="SourcesOfFunding" multiline>

		<label>Напомена</label>
		<input asp-for="Notes" multiline>

		<p>
			<label>
				<input asp-for="IsUrgent" type="checkbox" />
				<span>Is Urgent?</span>
			</label>
		</p>

		<br />

		<input class="btn" type="submit" value="Save">
	</form>