@{
    ViewData["Title"] = "Add a Ticket";
}
@using GoldenTicket.Models
@model Ticket

	<form method="post">
		<input asp-for="ClientId" type="hidden">

		<label>Title of ticket</label>
		<input asp-for="Title">

		<label>Description of ticket</label>
		<input asp-for="Description" multiline>

		<label>Notes</label>
		<input asp-for="Notes" multiline>

		<p>
			<label>
				<input asp-for="IsUrgent" type="checkbox" />
				<span>Is Urgent?</span>
			</label>
		</p>

		<br />

		<input class="btn" type="submit" value="Save">
	</form>