@{
	ViewData["Title"] = "Креирај тикет";
}
@using GoldenTicket.Models
@using GoldenTicket.Data
@model Ticket

<form method="post">
	<input asp-for="ClientId" type="hidden">

	<p>
		<label>
			<input asp-for="IsUrgent" type="checkbox" />
			<span>Хитно</span>
		</label>
	</p>

	<p>
		<label>
			<input asp-for="IsAbroad" type="checkbox" id="cbAbroad" value="true" onchange="abroadChange()" />
			<span>Иностранство</span>
		</label>
	</p>

	<label id="country">Држава путовања</label>
	@Html.DropDownListFor(model => model.Country, Countries.GetCountries(), new { @id = "myCountry", @onchange = "countryChange()" })

	<label>Адреса путовања</label>
	<input asp-for="Destination">

	<label>Установа путовања</label>
	<input asp-for="Institution">

	<label>Лице за контакт у установи путовања (телефон, е-маил)</label>
	<input asp-for="ContactPersonOnSite" multiline>

	<label>Разлог путовања</label>
	<input asp-for="Reason">

	<label>Датум и време одласка</label>
	<input asp-for="StartDate">

	<label>Датум и време повратка</label>
	<input asp-for="EndDate">

	<label>Врста јавног превоза</label>
	<input asp-for="Transportation">

	<label>Извор и лице које располаже средствима</label>
	<input asp-for="SourcesOfFunding" multiline>

	<label>Напомена</label>
	<input asp-for="Notes" multiline>

	<br />

	<input class="btn" type="submit" value="Save">
</form>

<script>
	function countryChange() {
		var objSelect = document.getElementById("myCountry");
		if (objSelect.value === "Србија") {
			document.getElementById("cbAbroad").checked = false;
		}
		else {
			document.getElementById("cbAbroad").checked = true;
		}
	}

	function abroadChange() {
		var objSelect = document.getElementById("myCountry");
		if (!document.getElementById("cbAbroad").checked) {
			setSelectedValue(objSelect, "Србија");
		}
	}

	function setSelectedValue(selectObj, valueToSet) {
		for (var i = 0; i < selectObj.options.length; i++) {
			if (selectObj.options[i].text == valueToSet) {
				selectObj.options[i].selected = true;
				return;
			}
		}
	}
</script>