@{
    ViewData["Title"] = "Review for " + Model.TicketTitle;
}
@using GoldenTicket.Models.TicketsViewModels
@model TicketTime

	<form method="post">
		<input asp-for="TicketId" type="hidden">

		<label>Title</label>
		<input asp-for="TicketTitle">

		<p>
			<label>
				<input asp-for="ReviewOutcome" type="radio" value="true" onclick="enableConfirm()"/>
				<span>Approve</span>
			</label>
			<br />
			<label>
				<input asp-for="ReviewOutcome" type="radio" value="false" onclick="enableConfirm()"/>
				<span>Decline</span>
			</label>
		</p>

		<button class="btn" onclick="goBack()">Go Back</button>

		<button class="btn" type="submit" id="btnConfirm" disabled>Confirm</button>
	</form>

	<script>
		function goBack() {
			window.history.back();
		}
		function enableConfirm() {
			document.getElementById("btnConfirm").disabled = false;
		}
	</script>