@{
    ViewData["Title"] = "Review for " + Model.TicketTitle;
}
@using GoldenTicket.Models.TicketsViewModels
@model TicketTime

	<form method="post">
		<input asp-for="TicketId" type="hidden">

		<label>Title</label>
		<input asp-for="TicketTitle">

		<label>Approve</label>
		<input asp-for="ReviewOutcome">

		<input type="radio" id="approved" name="ReviewOutcome" value="Approved">
		<label for="approved">Approved</label><br>
		<input type="radio" id="declined" name="ReviewOutcome" value="Declined">
		<label for="declined">Declined</label><br>
		<input type="radio" id="other" name="ReviewOutcome" value="Undefined">
		<label for="other">Undefined</label>

		<button class="btn" type="submit">
			Confirm
		</button>
	</form>