@{
    ViewData["Title"] = "Review for " + Model.TicketTitle;
}
@using GoldenTicket.Models.TicketsViewModels
@using GoldenTicket.Models
@model TicketReviewViewModel

	<form method="post">
		<input asp-for="TicketId" type="hidden">
		<input asp-for="ReviewerRole" type="hidden">

		<label>Title</label>
		<input asp-for="TicketTitle">

		<p>
			<label>
				<input asp-for="ReviewOutcome" type="radio" value="Одобрено" onclick="enableConfirm()" />
				<span>Approve</span>
			</label>
			<br />
			<label>
				<input asp-for="ReviewOutcome" type="radio" value="Одбијено" onclick="enableConfirm()" />
				<span>Reject</span>
			</label>
		</p>

		<button class="btn" onclick="goBack()">Go Back</button>

		<button class="btn" type="submit" id="btnConfirm" disabled>Confirm</button>
	</form>

<script>
	function goBack() {
		window.history.back();
	}
	function enableConfirm() {
		document.getElementById("btnConfirm").disabled = false;
	}
</script>