@{
    ViewData["Title"] = "Креирај клијента";
}
@using GoldenTicket.Models.AdministratorsViewModels
@model NewClient

	<form method="post">
		<label>Име</label>
		<input asp-for="FirstName">
		<label>Презиме</label>
		<input asp-for="LastName">
		<label>Титула</label>
		<input asp-for="Title">
		<label>Катедра</label>
		<input asp-for="Chair">
		<label>Улога</label>
		<input asp-for="Role">
		<label>Шифра</label>
		<input asp-for="Password">
		<button class="btn" type="submit">Креирај</button>
	</form>