@{
    ViewData["Title"] = "All Administrators";
}
@using GoldenTicket.Models
@using System.Collections.Generic
@model List<Client>

<a asp-action="Add" >Add Administrator</a>

<table class="responsive-table highlight">
	<tr>
		<th>Name</th>
		<th>Admin</th>
	</tr>
    @foreach (var moderator in Model) {
    <tr>
        <th>@moderator.FirstName @moderator.LastName</th>
        @if (moderator.Role == "Admin") {
        <th>&#10004;</th>
        }
        else {
        <th></th>
        }
    </tr>
    }
</table>
