@{
    ViewData["Title"] = "Извештаји";
}
@using GoldenTicket.Models.ReportsViewModels

@model ReportDetails

<p id="TimeSpanToggle" class="waves-effect waves-light btn-small">Monthly Activity</p>

<h3>Исходи:</h3>

<table class="striped centered highlight">
    <tr>
        <th>Прегледао</th>
        <th>Исход</th>
    </tr>
    @foreach (var reviewer in Model.Reviews) {
    <tr>
        <th>@reviewer.Client.FirstName @reviewer.Client.LastName</th>
        <th>@reviewer.ReviewOutcome</th>
    </tr>
    }
</table>
